@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');
html body{
    font-size: 20px;
    font-family: 'Grenze Gotisch', cursive;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    padding: 10px 5px;
    margin: 5px 5px;
    border: 2px solid #c0c0c0 ;
    border-radius: 5px;
    box-shadow: 4px 4px 2px 0px white;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    padding-right: 20px;
    font-size: 2rem;
    position: fixed;
    height: 100%;
    width: 250px;
    background: #000000;
    color: #fff;
}
nav ul{
    display: flex;
    flex-direction: column;

}
ul li:hover{
background: #d72323;
border-radius: 3px;
box-shadow: 4px 4px 2px 0px white;
}

.home{
    height: 100vh;
}
.home > section{
    position: relative;
    left: 300px;
}
.projects-done{
    height: 100vh;
}
.background{
    height: 100vh;
}
.donate{
    height: 100vh;
}